body {
    font-family: 'Inter', sans-serif;
    background-color: #fdfdfd;
}

.tasks-header {
    padding: 40px;
}

.tasks-header ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tasks-header ul li {
    margin: 0 16px;
}

.tasks-body {
    position: relative;
}

.tasks-body-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: calc(100vh - 118px);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.tasks-body-item.active {
    opacity: 1;
    visibility: visible;
}


/* task1 */

.task1-sidebar {
    height: 200px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 24px;
}

.task1-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.task1-sidebar ul li {
    padding: 12px 0;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    color: #323232;
    font-weight: 500;
}

.task1-sidebar ul li.active {
    background-color: #0d6efd;
    padding-left: 12px;
    color: white;
}

.quiz-wrapper {
    height: 500px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.quiz-header {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-header h2 {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 600;
    margin-bottom: 0;
}

.quiz-header span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.quiz-body {
    flex: 1;
    padding: 24px 0;
    position: relative;
}

.quiz-body-item h3 {
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    font-weight: 500;
    margin-bottom: 16px;
}

.quiz-body-item h3 span {
    display: block;
    color: #c82333;
}

.quiz-body-item ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.quiz-body-item ul li:last-child label {
    border: none;
}

.quiz-body-item ul li label {
    margin: 0;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.quiz-body-item ul li label.disabled {
    user-select: none;
    pointer-events: none;
}

.quiz-body-item ul li label input {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.quiz-body-item ul li label span {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: 500;
}

.quiz-body-item textarea {
    min-height: 160px;
    resize: none;
}

.quiz-body>span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #323232;
    text-align: center;
    width: 80%;
}

.quiz-body>span small {
    color: #0d6efd;
    font-weight: 600;
}

.quiz-body.text-quiz {
    max-height: 100%;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

.quiz-body-answer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quiz-body-answer ul li {
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.quiz-body-answer ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.quiz-body-answer ul li p,
.quiz-body-answer ul li h3 {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: 600;
}

.quiz-body-answer ul li p {
    font-weight: 400;
    margin-bottom: 0;
    padding-right: 60px;
}

.quiz-body-answer ul li:last-child .quiz-body-answer-check {
    bottom: 0;
}

.quiz-body-answer-check {
    position: absolute;
    right: 0;
    bottom: 16px;
    display: flex;
}

.quiz-body-answer-check button {
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.quiz-body-answer-check button:not(:first-child) {
    margin-left: 8px;
}

.quiz-body-answer-check button i {
    display: flex;
}

.quiz-footer {
    padding-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
}

.quiz-footer button:not(:first-child) {
    margin-left: 8px;
}


/* task1 */


/* task2 */


/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
} */

.task2-main {
    /* height: 500px; */
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.task2-header {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.task2-header h2 {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 600;
    margin-bottom: 0;
}

.task2-body {
    padding: 24px 0;
    flex: 1;
}

.my-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.my-form-group:not(:last-child) {
    margin-bottom: 32px;
}


/* .my-form-group.required>span {
    visibility: visible;
    opacity: 0;
} */

.my-form-group>span {
    position: absolute;
    top: 100%;
    left: 0;
    color: #c82333;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* visibility: hidden;
    opacity: 0; */
    transition: all 0.2s ease-in-out;
}

.my-form-group label {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.my-form-group label span {
    color: #c82333;
}

.my-form-group .mx-datepicker {
    width: 100%;
}

.mx-icon-calendar,
.mx-icon-clear {
    right: 16px;
}

.my-form-group .mx-datepicker.invalid input,
.my-form-group input.invalid {
    border-color: red;
}

.my-form-group input.mx-input,
.my-form-group input {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(50, 50, 50, 0.5);
    outline: none;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #323232;
}

.my-form-group input:focus {
    border-color: rgb(13, 110, 253, 0.5);
}

.task2-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


/* .task2-footer button {
    margin-left: auto;
} */


/* task2 */


/* task3 */

.form-group .mx-datepicker {
    width: 100%;
}

.form-group {
    margin-bottom: 32px;
}

.form-control,
.form-group .mx-datepicker input {
    height: 48px;
}

.form-group label {
    margin-bottom: 16px;
}

.employee-wrapper {
    height: 500px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.employee-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.employee-header h2 {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 600;
    margin-bottom: 0;
}

.table-buttons {
    display: flex;
}

.table-buttons i:first-child {
    color: #0a58ca;
    font-size: 18px;
    cursor: pointer;
}

.table-buttons i:last-child {
    color: #c82333;
    margin-left: 8px;
    font-size: 18px;
    cursor: pointer;
}

.employee-wrapper form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.employee-body {
    flex: 1;
    padding: 32px 0;
}

.employee-footer {
    display: flex;
    justify-content: flex-end;
}

.employee-footer button {
    margin-left: 16px;
}


/* task3 */


/* task4 */

.task4-main {
    /* height: 500px; */
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.task4-header {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.task4-header h2 {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 600;
    margin-bottom: 0;
}

.task4-body {
    padding: 24px 0;
    flex: 1;
}

.task4-footer {
    padding-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


/* task4 */