<template>
  <div class="employee">
    <div class="container">
      <div class="employee-wrapper">
        <b-form
          class="employee-create"
          @submit="onSubmit"
          @reset="onReset"
          v-if="show"
        >
          <div class="employee-header">
            <h2>Employee create</h2>
            <b-button @click="$router.go(-1)" variant="primary">Back</b-button>
          </div>
          <div class="employee-body">
            <div class="row">
              <div class="col-md-4">
                <b-form-group
                  id="input-group-1"
                  label="First name"
                  label-for="input-1"
                >
                  <b-form-input
                    id="input-1"
                    v-model="form.firstName"
                    type="text"
                    placeholder="Enter first"
                    required
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="col-md-4">
                <b-form-group
                  id="input-group-2"
                  label="Last name"
                  label-for="input-2"
                >
                  <b-form-input
                    id="input-2"
                    v-model="form.lastName"
                    placeholder="Enter last"
                    required
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="col-md-4">
                <b-form-group
                  id="input-group-3"
                  label="Last middle"
                  label-for="input-3"
                >
                  <b-form-input
                    id="input-3"
                    v-model="form.middleName"
                    placeholder="Enter middle"
                    required
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="col-md-4">
                <b-form-group
                  id="input-group-4"
                  label="Birthdate"
                  label-for="input-4"
                >
                  <!-- <DatePicker
              v-model="form.birthdate"
              placeholder="DD-MM-YYYY"
              format="DD-MM-YYYY"
            /> -->
                  <b-form-input
                    type="date"
                    placeholder="YYYY-MM-DD"
                    v-model="form.birthdate"
                  >
                  </b-form-input>
                </b-form-group>
              </div>
              <div class="col-md-4">
                <b-form-group
                  id="input-group-5"
                  label="Nationality"
                  label-for="input-5"
                >
                  <b-form-input
                    id="input-5"
                    v-model="form.nationality"
                    placeholder="Enter nationality"
                    required
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="col-md-4">
                <b-form-group
                  id="input-group-6"
                  label="Birthplace"
                  label-for="input-6"
                >
                  <b-form-input
                    id="input-6"
                    v-model="form.birthPlace"
                    placeholder="Enter birthplace"
                    required
                  ></b-form-input>
                </b-form-group>
              </div>
            </div>
          </div>
          <div class="employee-footer">
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </div>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      form: {
        id: null,
        firstName: null,
        lastName: null,
        middleName: null,
        birthdate: null,
        nationality: null,
        birthPlace: null,
      },
      show: true,
    };
  },
  computed: {
    ...mapGetters("employee", {
      mainLength: "getMainLength",
    }),
  },
  methods: {
    ...mapMutations("employee", ["setEmployeeList"]),

    onSubmit(event) {
      this.form = { ...this.form, id: this.mainLength };
      this.setEmployeeList(this.form);
      this.$router.go(-1);
      event.preventDefault();
    },
    onReset(event) {
      event.preventDefault();
      this.form.firstName = null;
      this.form.lastName = null;
      this.form.middleName = null;
      this.form.birthdate = null;
      this.form.nationality = null;
      this.form.birthdate = null;
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>

<style>
</style>