<template>
  <div id="app" class="tasks-wrapper">
    <div class="tasks-header">
      <ul>
        <li>
          <b-button
            @click="isActive = 1"
            variant="outline-primary"
            :class="{ active: isActive == 1 }"
          >
            task-1
          </b-button>
        </li>
        <li>
          <b-button
            @click="isActive = 2"
            variant="outline-primary"
            :class="{ active: isActive == 2 }"
          >
            task-2
          </b-button>
        </li>
        <li>
          <b-button
            variant="outline-primary"
            @click="isActive = 3"
            :class="{ active: isActive == 3 }"
          >
            task-3
          </b-button>
        </li>
        <li>
          <b-button
            @click="isActive = 4"
            variant="outline-primary"
            :class="{ active: isActive == 4 }"
          >
            task-4
          </b-button>
        </li>
      </ul>
    </div>
    <div class="tasks-body">
      <div class="tasks-body-item" :class="{ active: isActive == 1 }">
        <task1></task1>
      </div>
      <div class="tasks-body-item" :class="{ active: isActive == 2 }">
        <task2></task2>
      </div>
      <div class="tasks-body-item" :class="{ active: isActive == 3 }">
        <router-view> </router-view>
      </div>
      <div class="tasks-body-item" :class="{ active: isActive == 4 }">
        <task4> </task4>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import task1 from "@/components/task1";
import task2 from "@/components/task2";
import task4 from "@/components/task4";
export default {
  name: "App",
  components: {
    task1,
    task2,
    task4,
  },
  computed: {
    ...mapGetters("employee", {
      mainLength: "getMainLength",
      employeeList: "getEmployeeList",
    }),
  },
  data() {
    return {
      isActive: 1,
    };
  },
  methods: {
    ...mapMutations("employee", ["setMainLength"]),
  },
  mounted() {
    this.setMainLength(this.employeeList.length + 1);
  },
};
</script>

<style>
</style>
