<template>
  <div class="task4-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-5">
          <form v-if="!access" class="task4-main" @submit.prevent="SubmitForm">
            <div class="task4-header">
              <h2>Form validation</h2>
            </div>
            <div class="task4-body">
              <div class="my-form-group">
                <label for="">Username <span>*</span></label>
                <input
                  type="text"
                  v-model="form.login"
                  required
                  placeholder="Username"
                />
              </div>
              <div class="my-form-group">
                <label for="">Password <span>*</span></label>
                <input
                  type="password"
                  v-model="form.password"
                  required
                  placeholder="Password"
                />
              </div>
            </div>
            <div class="task4-footer">
              <b-button variant="primary" type="submit"> Submit </b-button>
            </div>
          </form>
          <div v-else class="task4-main">
            <div class="task4-header">
              <h2>User list</h2>
            </div>
            <div class="task4-body">
              <ul>
                <li>Toxir</li>
                <li>Jaxongir</li>
                <li>Xasan</li>
              </ul>
            </div>

            <div class="task4-footer">
              <b-button variant="primary" @click="logout" vari>Logout</b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      form: {
        login: "",
        password: "",
      },
    };
  },
  mounted() {
    let access = localStorage.getItem("access");
    access && this.setState({ key: "access", value: access });
  },
  computed: {
    ...mapGetters("auth", ["access"]),
  },
  methods: {
    ...mapActions("auth", ["login", "logout"]),
    ...mapMutations("auth", ["setState"]),
    SubmitForm() {
      this.login(this.form);
    },
  },
};
</script>

<style>
</style>